/* theme.css (Eric Gregor) */

/* variables */

$fgColor: white; /* foreground color */
$bgColor: black; /* background color */
$fontName: OpenSans-Light; /* font family */

.page-color {
	color: $fgColor;
	background-color: $bgColor;
}

.header-mobile {
	width: 100%;
	margin: 1rem 0 3rem 0;
}


.logo-mobile {
	width: 70%;
	margin: 1rem 0 0 0;
}

.section-heading {
	font-family: $fontName;
	font-size: 0.8rem;
	margin: 0 0 1rem 0;
}

.section-mobile {
	margin: 1rem 0 0 2rem;
}

.story-box-mobile {
	font-family: $fontName;
	font-size: 1rem;
	line-height: 1.5rem;
	/*position: relative;*/
	width: 100%;

	height: 50vh;
	background: url("") no-repeat center bottom;
	background-size: cover;
}

/*.story-box-mobile img {
	width: 100%;
}*/

.story-box-mobile a {
	/*position: absolute;*/
	/*bottom: 0;*/
	opacity: 0.6;
	background-color: $bgColor;
	text-decoration: none;
	color: $fgColor;
	padding: 0.5rem;
}

.story-box-mobile a:hover {
	text-decoration: underline;
}

#clone {
	display: none;
}

/*.storyImage {
	height: 50vh;
	background: url("") no-repeat center bottom;
	background-size: cover;
	width: 100%;
}*/

.footer-mobile {
	font-family: $fontName;
	font-size: 0.9rem;
	text-align: center;
	margin: 2rem 0 3rem 0;
	opacity: 0.8;
}
